{% extends 'todo/base.html' %}

<title>{% block title %}Attachments{% endblock %}</title>

{% block content %}

<table class="table">
<div class="container-fluid bg-warning text-center">
<thread class="thread text-center text-md-center fw-bold fs-2">YOUR ATTACHMENTS</thread>
</div>
<br>
{% for attachment in object_attachment %}    
<tr>   
<td class="text-center"><p class="text-md-center fw-bold fs-2 bg-light border">{{ attachment.filename }} </a></p><br><p class="fw-light text-justified"> Task ID: {{ attachment.id }}</p>
</td>
{% endfor %}

<td>  
<button type="submit" name="button" class="btn btn-info bg-warning text-white" style="margin-right: 10px"><a href="{% url 'todo:editattachment' pk=object.id %}">Edit</a></button>
<button type="submit" name="button" class="btn btn-info bg-warning text-white" style="margin-right: 10px"><a href="{% url 'todo:deleteattachment' pk=object.id %}"> Delete</a></button>


</td>
</tr>

</table>
</div>
</div>

{% endblock %}
