{% extends 'todo/base.html' %}

<title>{% block title %}Add Tasklists{% endblock %}</title>


{% block content %}

<br><br>
<table class="table">
<tr><td><div class="container-fluid text-info text-center" style="background-color: #FFD700">
<thread class="thread text-center text-md-center fw-bold fs-2">ADD YOUR TASK LIST</thread></td></tr>

<table class="table">
<tbody>
    <tr>
    <td>
<form class="d-flex no-border" method="POST" role="form"> {% csrf_token %}
        <td><br>{{ form.as_p }}</td>
        <tr><td><br><br><input class="form-control btn-warning link-info me-2"  type="submit" value="Save" href="{% url 'todo:tasklists' %}"></td></tr>
        </form>
        </td>   
 </tr>
 </tbody>
 </div>
 </table>
 </table>
{% endblock %}
