{% extends 'todo/base.html' %}

<title>{% block title %}Attachments{% endblock %}</title>

{% block content %}

<table class="table">
<div class="container-fluid bg-warning text-center">
<thread class="thread text-center text-md-center fw-bold fs-2">YOUR ATTACHMENTS</thread>
</div>
<br>
{% for attachment in object_attachment %}    
<tr>   
<td class="text-center"><p class="text-md-center fw-bold fs-2 bg-light border">{{ attachment.file_name }} </a></p><br>
<p class="fw-light text-justified"> Task ID: {{ attachment.id }}</p>
</td>
{% endfor %}


</tr>



</table>
</div>
</div>

{% endblock %}
