{% extends 'todo/base.html' %}

<title>{% block title %}Attachment{% endblock %}</title>

{% block content %}

<div class="container-fluid bg-warning text-center">
<thread class="thread text-center text-md-center fw-bold fs-2">YOUR ATTACHMENT</thread>
</div>
<br><br>    
<div class="container-fluid bg-warning text-center">
<thread class="thread text-center text-md-center fw-bold fs-2"> {{ object.file }}<p class="fw-light text-center fs-5"> From Task: {{ object.task }}</p><p> <span class="glyphicon glyphicon-calendar">Uploaded on: {{ object.timestamp }}</span>
</p><p class="fw-light text-justified">Task ID: {{ object.id }}</p></thread></div>
<br>
<div class="container-fluid alert alert-secondary fw-bold fs-5" role="alert" rows="3">{{ object.note  }}</div>
<br>

<tr> <td><br>

<button type="submit" name="button" class="btn btn-info bg-warning text-white" style="margin-right: 10px"><a href="{% url 'todo:attachments' %}">Show All TasksLists</a></button>
<button type="submit" name="button" class="btn btn-info bg-warning text-white" style="margin-right: 10px"><a href="{% url 'todo:editattachment' pk=object.id %}">Edit</a></button>
<button type="submit" name="button" class="btn btn-info bg-warning text-white" style="margin-right: 10px"><a href="{% url 'todo:deleteattachment' pk=object.id %}"> Delete</a></button>
</td></tr>    
    

</table>
<td><br>   

<table class="table">
<div class="container-fluid bg-warning text-center">
<thread class="thread text-center text-md-center fw-bold fs-2">YOUR ATTACHMENTS</thread>
</div>
<br>
{% for attachment in object.list_set.all %} 
<tr>  
<td class="text-center"><p class="text-md-center fw-bold fs-2 bg-light border"><a href="{% url 'todo:attachment' pk=attachment.id %}">{{ object.file_name }} </a></p><p class="fw-light text-justified alert-secondary"><br> From Task: {{ object.task }} | | Created on: {{ object.timestamp }}<br></p>
<p class="fw-light text-justified"> Attachment ID: {{ object.id }}</p>
</td>
<td>  
<button type="submit" name="button" class="btn btn-info text-white" style="background-color: #FFD700"><a href="{% url 'todo:editattachment' pk=object.id %}">Edit</a></button>
<br><br>
<button type="submit" name="button" class="btn btn-info text-white" style="background-color: #FFD700"><a href="{% url 'todo:deleteattachment' pk=object.id %}"> Delete</a></button>
</td>
{% endfor %}
</tr>
</table>
{% endblock %}
