{% extends 'todo/base.html' %}

<title>{% block title %}Delete Lists{% endblock %}</title>


{% block content %}
<table class="table">
<tr><td><div class="container-fluid text-center" style="background-color: #FFD700">
<thread class="thread text-danger text-md-center fw-bold fs-2">DELETE YOUR TASK LISTS</thread></td></tr>

<tr><form class="d-flex" method="POST" role="form"> {% csrf_token %}
<td class="text-center"><br><p class="text-md-center fw-bold fs-2 bg-light">Are you sure you want to delete "{{ object.title }}"?</a></p></td>
 </tr><br><br>
<tr>
<td>
<input type="submit" name="button" class="btn btn-info bg-warning text-danger" href="{% url 'todo:tasks' %}" value="Confirm"></form>
<button type="submit" name="button" class="btn btn-info bg-warning text-primary"><a href="{% url 'todo:tasklist' pk=object.id %}">No thanks!</a></button>  
</td> 
</tr>
</div>

 </table>
{% endblock %}
