{% extends 'todo/base.html' %}

<title>{% block title %}Delete Tasks{% endblock %}</title>


{% block content %}

<br><br>
<table class="table">
<tr><td><div class="container-fluid text-center" style="background-color: #FFD700">
<thread class="thread text-center text-md-center fw-bold fs-2">DELETE YOUR TASK</thread></td></tr>

<table class="table">
<tbody>
    <tr>
    <td>
<form class="d-flex" method="POST" role="form"> {% csrf_token %}
        <td><br>Are you sure you want to delete "{{ task.title }}"?</td>
        <tr><td><br><br><input class="form-control bg-warning me-2" type="submit" value="Confirm" href="{% url 'todo:tasks' %}"></td></tr>
        </form>
        </td>   
 </tr>
 </tbody>
 </div>
 </table>
 </table>
{% endblock %}
