{% extends 'todo/base.html' %}

<title>{% block title %}Update Tasks{% endblock %}</title>


{% block content %}

<br><br>
<table class="table">
<tr><td><div class="container-fluid text-center bg-warning">
<thread class="thread text-center text-md-center fw-bold fs-2">UPDATE YOUR TASK</thread></td></tr>

<table class="table">
<tbody>
    <tr>
    <td>
<form class="d-flex" method="POST" role="form"> {% csrf_token %}
        <td><br>{{ form.as_p }}</td>
        <tr><td><br><br><input class="form-control btn-info bg-warning text-primary me-2" type="submit" value="Save" 
		href="{% url 'todo:tasks' %}"></td></tr>
        </form>
        </td>   
 </tr>
 </tbody>
 </div>
 </table>
 </table>
{% endblock %}
