{% extends 'todo/base.html' %}

<title>{% block title %}Task{% endblock %}</title>

{% block content %}
<table class="table">
{% if object.completed %} 
<div class="container-fluid bg-warning text-center">
<thread class="thread text-md-center fw-bold fs-2" style="color: #40ff00">MISSION ACCOMPLISHED</thread>
</div>
<br><br>   

<div class="container-fluid bg-warning text-center">
<thread class="thread text-center text-md-center fw-bold fs-2"> <s>{{ object.title }}</s><p> <span class="glyphicon glyphicon-calendar"><s>  Due Date: {{ object.due_date }}</s></span></p><s><p class="fw-light text-center fs-5"> Task ID: {{ object.id }} || Priority: {{ object.priority }} | | Status: {{ object.status }} || Assigned to: {{ object.assigned_to }}</p></s><p class="fw-light text-center fs-5"> <span class="glyphicon glyphicon-calendar"><s>Created on: {{ object.created_date }}</s></span></p></thread></div>
<tr>
<td><ul class="nav justify-content-end"><a href="{% url 'todo:edittask' pk=object.id %}"><button type="submit" name="button" class="btn btn-info bg-warning text-primary">Restore</button></a>
</ul></td></tr> 
{% else %} 
<div class="container-fluid bg-warning text-center">
<thread class="thread text-center text-md-center fw-bold fs-2">YOUR TASK</thread>
</div>
<br><br>    
<div class="container-fluid bg-warning text-center">
<thread class="thread text-center text-md-center fw-bold fs-2">{{ object.title }}<p> <span class="glyphicon glyphicon-calendar">Due Date: {{ object.due_date }}</span></p><p class="fw-light text-center fs-5"> Task ID: {{ object.id }} || Priority: {{ object.priority }} | | Status: {{ object.status }} <p class="fw-light text-center fs-5">Assigned to: {{ object.assigned_to }}</p><p class="fw-light text-center fs-5"> <span class="glyphicon glyphicon-calendar">Created on: {{ object.created_date }}</span></p></thread></div>
<br>
<div class="container-fluid alert alert-secondary fw-bold fs-5" role="alert" rows="3">{{ object.note  }}</div>

<tr> <td>
<ul class="nav justify-content-end">
<a href="{% url 'todo:edittask' pk=object.id %}"><button type="submit" name="button" class="btn btn-info bg-warning text-primary" style="margin-right: 10px">Edit</button></a>
<a href="{% url 'todo:deletetask' pk=object.id %}"><button type="submit" name="button" class="btn btn-info bg-warning text-primary" style="margin-right: 10px"> Delete</button></a>
</ul></td></tr>    
    
{% endif %}
</table>

<table class="table"><br><br>
<div class="container-fluid bg-warning text-center">
<thread class="thread text-center text-md-center fw-bold fs-2"><a href="{% url 'todo:tasks' %}">YOUR TASKS</a></thread>
</div>
<br>
<div class="container-fluid text-center">

{% for object in object.list_set.all %} 
<tr>        
<td class="text-center"><p class="text-md-center fw-bold fs-2 bg-light border"><a href="{% url 'todo:task' pk=object.id %}">{{ object.title }}</a> </p><br><p class="fw-light text-justified"> | | List ID: {{ object.id }} | | Created on: {{ object.created_date }}</p></td>   
<td>  
<a href="{% url 'todo:edittask' pk=object.id %}"><button type="submit" name="button" class="btn btn-info text-white" style="background-color: #FFD700">Edit</button></a>
<br><br>
<a href="{% url 'todo:deletetask' pk=object.id %}"><button type="submit" name="button" class="btn btn-info text-white" style="background-color: #FFD700"> Delete</button></a>
</td>
</tr>    

{% endfor %}
</div>   
</table>
{% endblock %}




