{% extends 'todo/base.html' %}

<title>{% block title %}Tasks{% endblock %}</title>

{% block content %}
<div class="container-fluid bg-warning text-center">
<thread class="thread text-center text-md-center fw-bold fs-2">YOUR TASKS</thread>
</div>

<table class="table">
{% for task in object_list %}    
{% if task.completed %} 
<tr>       
<td class="text-center"><s><p class="text-md-center fw-bold fs-2 bg-light border"><a href="{% url 'todo:task' pk=task.id %}">{{ task.title }} </a></p><p class="fw-light text-justified alert-secondary"><br> Task ID: {{ task.id }} | | Created on: {{ task.created_date }} <br></p></s>
</td>
<td>  
<button type="submit" name="button" class="btn btn-info bg-warning text-white"><a href="{% url 'todo:edittask' pk=task.id %}">Restore</a></button>
</tr>    
{% else %}    

<tr>    
<td class="text-center"><p class="text-md-center fw-bold fs-2 bg-light border"><a href="{% url 'todo:task' pk=task.id %}">{{ task.title }} </a></p><p class="fw-light text-justified alert-secondary"><br> Task ID: {{ task.id }} | | Created on: {{ task.created_date }}<br></p>
</td>
<td>  
<button type="submit" name="button" class="btn btn-info text-white" style="background-color: #FFD700"><a href="{% url 'todo:edittask' pk=task.id %}">Edit</a></button>
<br><br>
<button type="submit" name="button" class="btn btn-info text-white" style="background-color: #FFD700"><a href="{% url 'todo:deletetask' pk=task.id %}"> Delete</a></button>
</td>
</tr>    
{% endif %}
{% endfor %}
</table>
{% endblock %}

